# Maven
target/
*.class
*.jar
*.war

# IDE — Eclipse
.classpath
.project
.settings/
bin/

# IDE — IntelliJ
.idea/
*.iml
*.iws
*.ipr
out/

# IDE — VSCode
.vscode/

# Spring Boot
*.log
logs/
store/

# OS
.DS_Store
Thumbs.db

# Docker
.dockerignore
